{% extends 'base.html' %}

{% block title %}
    <title>All movies</title>
{% endblock %}

{% block body %}
<footer style="margin-left: 20px;">
    <style>
        .movie-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 0 auto;
        }
        .movie-container img {
            width: 200px;
            height: auto;
        }
        .movie-container h5 {
            margin-top: 5px;
        }
	.underline-on-hover:hover {
		text-decoration: underline;
	}
        .header {
            display: flex;
            align-items: center;
        }
        .header h1 {
            margin-right: 20px;
		}
    </style>
    <div class="header">
        <h2>You can search for a movie by entering its name:</h2>
        <!-- Форма поиска -->
        <form action="{{ url_for('all_movies') }}" method="GET">
            <input style="margin-left: 10px;" type="text" name="search" placeholder="Start searching">
            <input style="margin-left: 5px;" type="submit" value="Search"></input>
        </form>
    </div>
    {% if request.args.get('search') %}
    <div class="row">
        <h5>Search results for "{{ request.args.get('search') }}":</h5>
    </div>
    {% endif %}<br>
    <div class="container">
        {% if movies|length == 0 %}
            <p>There are no films available.</p>
        {% else %}
            {% for index in range(movies|length) %}
                {% set name = movies[index] %}
                {% set poster = movies_posters[index] %}
				{% set movie_iddd = movies_iddd[index] %}
                {% if loop.index % 3 == 1 %}
                    <div class="row">
                {% endif %}
                <div class="col">
			<div class="movie-container">
				<a class="py-2 link-body-emphasis text-decoration-none" href="{{ url_for('recommendation', movie_iddd=movie_iddd, selected_movie_name=name) }}">
					<img src="{{ poster }}">
					<h5 class="text-dark text-decoration-none">
						<span class="underline-on-hover">{{ name }}</span>
					</h5>
				</a>
			</div>
                </div>
                {% if loop.index % 3 == 0 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="pagination">
        {% for num in pagination.iter_pages %}
            {% if num %}
                {% if num == pagination.page %}
                    <strong>{{ num }}</strong>
                {% else %}
                    <a href="{{ url_for('all_movies', page=num) }}">{{ num }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    <br>
	<ul class="pagination justify-content-center">
		{{ pagination.links }}
	</ul>
</footer>

{% endblock %}
