{% extends 'base.html' %}

{% block title %}
    <title>Movie store</title>
{% endblock %}

{% block body %}
<footer style="margin-left: 20px;">
    <h1>Movie store</h1>
    <form method="POST" action="/">
        <label for="movie_name">Type the movie name you want to buy:</label>
        <input type="text" id="movie_name" name="movie_name" placeholder="Input movie">
        <input type="submit" value="Submit">

    </form>
    <br>
    <form method="POST" action="/">
        <label for="movie_name">All available movies on our site:</label>
        <select name="movie_name">
            {% for movie_name in movie_names %}
                <option value="{{ movie_name }}">{{ movie_name }}</option>
            {% endfor %}
        </select>
    </form><br>
	<p style="font-size: 15px;">To find your movie go to <a style="margin: 0;" class="py-2 link-body-emphasis text-decoration-none" href="{{ url_for('all_movies') }}" method="GET"><strong>All movies</strong></a>. There you can find all the movies on the site and go to the purchase page by clicking on the movie title/poster.</p>
</footer>
{% endblock %}
