{% extends 'base.html' %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block body %}
<footer style="margin-left: 20px;">
    <h1>Profile</h1>
    {% if session['user_id'] == 1 %}
		<p> Role: Administrator</p>
	{% else %}
		<p>Role: User</p>
	{% endif %}
    <p for="first_name">First Name: {{ user.first_name }}</p>
    <p for="last_name">Last Name: {{ user.last_name }}</p>
    <p>Balance: ${{ balance }}</p>
    <form action="{{ url_for('add_funds') }}" method="post">
        <input type="submit" value="Add Funds">
    </form><br>
    {% if session['user_id'] == 1 %}
        <p>Add trailer to the movie:</p> <!--<for admin>-->
        <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
            <label for="movie_id">Movie ID:</label>
            <input type="text" name="movie_id" style="margin-left: 24px;"><br><br>
            <label for="video_name">Video Name:</label>
            <input type="text" name="video_name"><br><br>
            <input type="file" name="video">
            <input type="submit" value="Upload">
        </form>
    {% endif %}<br>
    {% if purchased_movies %}
        <h2>Your movies:</h2>
        <ul>
        {% for movie in purchased_movies %}
            <li>{{ movie['movie_name'] }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</footer>
{% endblock %}
