{% extends 'base.html' %}

{% block title %}
    <title>Movie</title>
{% endblock %}
{% block body %}
<footer style="margin-left: 20px;">
	<h1 style="margin-left:;">You chosed:</h1>
	<div class="container">
		<div class="row">
			{% if not is_movie_purchased(session['user_id'], selected_movie_name) %}
				<h3>{{ selected_movie_name }}
					<form action="{{ url_for('buy_movie') }}" method="post" style="display: inline-block;">
						<input type="hidden" name="selected_movie_name" value="{{ selected_movie_name }}">
						<button type="submit" style="margin-left: 3px; font-size: 20px;">Buy movie</button>
					</form>
				</h3>
			{% else %}
				<h3 style="margin-left: 3px;">{{ selected_movie_name }}
					<div class="alert alert-info" style="display: inline-block; margin-left: 3px; font-size: 12px;">
						This movie is already purchased.
					</div>
				</h3>
			{% endif %}
			<div class="container">
				<div class="row">
					<div class="col">
						<img src="{{ selected_movie_poster }}" style="width: 250px; height: auto;">
					</div>
				</div>
			</div>
			{% if reviews %}
		        <footer style="margin-left: 10px;">
				<h6 class="card-subtitle mb-2 text-muted" style="font-size: 20px; display:inline-block">
					Average rating: {{ '{:.2f}'.format(avg_rating) }}
				</h6>
			  </footer>
			{% else %}
				<footer style="margin-left: 10px;">
					<h6 class="card-subtitle mb-2 text-muted" style="font-size: 20px; display:inline-block">
						Average rating: 0
					</h6>
				</footer>
			{% endif %}
		</div>
	</div>
	<h1 style="margin-left:;">Similar movies that you can also buy on our website:</h1>
	<div class="container">
		<div class="row">
			{% for name in names %}
			<div class="col">
				<h3 style="margin-left: 3px;">{{ name }}</h3>
			</div>
			{% endfor %}
		</div>
		<div class="row">
			{% for poster in posters %}
			<div class="col">
				<img src="{{ poster }}" style="width: 250px; height: auto;">
			</div>
			{% endfor %}
		</div>
	</div>
</footer>
<footer class="pt-2 my-md-2 pt-md-2 border-top" style="margin-left: 20px;">
		<form action="{{ url_for('add_review') }}" method="POST">
		<input type="hidden" name="selected_movie_name" value="{{ selected_movie_name }}">
		<button type="submit"  style="display:none;"></button>
		<input type="hidden" name="movie_id" value="{{ movie_iddd }}">
			<h3 style="margin-left: 5px";>Your review for {{ selected_movie_name }}</h3>
			<div class="form-group">
				<label for="rating">Rating:</label>
				<select class="form-control" id="rating" name="rating" required>
					<option value="" selected disabled>Select rating</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</select>
			</div>
			<div class="form-group">
				<label for="comment">Review:</label>
				<textarea class="form-control" id="comment" name="comment" placeholder="Write review"></textarea>
			</div><br>
			<button type="submit" style="margin-left: 3px; font-size: 20px;">Add Review</button>
		</form>
	</footer>
	{% if reviews %}
	<footer class="pt-2 my-md-2 pt-md-2 border-top" style="margin-left: 20px;">
		<h3 style="margin-left: 5px;">All reviews for this movie:</h3>
        </footer>
	{% endif %}
	{% for review in reviews %}
	<footer style="margin-left: 20px;">
		<div class="card mb-3">
			<div class="card-body">
				<div style="font-size: 14px; display: inline-block">
					<h6 class="card-title" style="display: inline-block">{{ review.first_name1 }} {{ review.last_name1 }}</h6>,
					<h6 class="card-subtitle mb-2 text-muted" style="font-size: 14px; display: inline-block;"> Rating: {{ review.rating }}/5 - Was added {{ review.created_at }}</h6>
					{% if 'user_id' in session and session['user_id'] == review.user_id %}
					<form action="{{ url_for('delete_review') }}" method="POST" style="display: inline-block;">
						<input type="hidden" name="selected_movie_name" value="{{ selected_movie_name }}">
						<button type="submit" style="display:none;"></button>
						<input type="hidden" name="review_id" value="{{ review.id }}">
						<button type="submit" class="btn btn-danger" style="margin-left: 10px; font-size: 10px; display: inline-block;">Delete Review</button>
					</form>
					<form action="{{ url_for('edit_review') }}" method="POST" style="display: none;" id="editForm{{ review.id }}">
						<input type="hidden" name="selected_movie_name" value="{{ selected_movie_name }}">
						<button type="submit"  style="display:none;"></button>
						<input type="hidden" name="review_id" value="{{ review.id }}">
						<input type="hidden" name="movie_id" value="{{ movie_iddd }}">
						<label for="new_rating{{ review.id }}">New Rating:</label>
						<select class="form-control" id="new_rating{{ review.id }}" name="new_rating" required>
							<option value="" selected disabled>Select rating</option>
							<option value="1" {% if review.rating == 1 %}selected{% endif %}>1</option>
							<option value="2" {% if review.rating == 2 %}selected{% endif %}>2</option>
							<option value="3" {% if review.rating == 3 %}selected{% endif %}>3</option>
							<option value="4" {% if review.rating == 4 %}selected{% endif %}>4</option>
							<option value="5" {% if review.rating == 5 %}selected{% endif %}>5</option>
						</select>
						<label for="new_comment{{ review.id }}">New Review:</label>
						<textarea class="form-control" id="new_comment{{ review.id }}" name="new_comment">{{ review.comment }}</textarea><br>
						<button type="submit" class="btn btn-primary" style="margin-left: 10px; font-size: 10px;">Save Changes</button>
						<button type="button" class="btn btn-secondary" style="margin-left: 10px; font-size: 10px;" onclick="toggleEditReview({{ review.id }})">Cancel Edit</button>
					</form>
					<span id="reviewContainer{{ review.id }}" {% if edit_form_visible %}style="display: none;"{% endif %}>
						<button type="button" class="btn btn-primary" style="margin-left: 10px; font-size: 10px;" id="editReviewButton{{ review.id }}" onclick="toggleEditReview({{ review.id }})" {% if edit_form_visible %}style="display: none;"{% endif %}>Edit Review</button>
					</span>
					{% endif %}
					<div id="commentContainer{{ review.id }}" {% if edit_form_visible %}style="display: none;"{% endif %}>
						<p class="card-text">{{ review.comment }}</p>
					</div>
				</div>
			</div>
		</div>
	</footer>
	{% endfor %}
	
<script>
function toggleEditReview(reviewId) {
	var editForm = document.getElementById('editForm' + reviewId);
	var editReviewButton = document.getElementById('editReviewButton' + reviewId);
	var reviewContainer = document.getElementById('reviewContainer' + reviewId);
	var commentContainer = document.getElementById('commentContainer' + reviewId);
	if (editForm.style.display === 'none')
	{
		editForm.style.display = 'block';
		editReviewButton.style.display = 'none';
		reviewContainer.style.display = 'none';
		commentContainer.style.display = 'none';
	} 
	else 
	{
		editForm.style.display = 'none';
		editReviewButton.style.display = 'inline-block';
		reviewContainer.style.display = 'inline-block';
		commentContainer.style.display = 'block';
	}
}
</script>
{% endblock %}
